







  <section>
    <div  style="background-color:bisque;">
      <div class="container-fluid">
        <div align="center">
          <h1>RDAssignmentUI</h1>
          <a href="Home">Home</a>&nbsp;
          <a href="CourseList">Courses</a>&nbsp;
          <!--<li><a routerLink="/Home" routerLinkActive="active" style="color:white">sssss</a></li>-->
          <a href="DepartmentList">Department</a>&nbsp;
          <a href="EmployeeList">Employee</a>&nbsp;
        </div>
      </div>
    </div>
  </section>
<!--<section>
  <div class="container">
    <div align="center" style="background-color:darkblue; color:white;">
        <a href="Home" >Home</a>&nbsp;
        <a href="CourseList">Courses</a>&nbsp;
        <li><a routerLink="/Home" routerLinkActive="active" style="color:white">sssss</a></li>
        <a href="DepartmentList" >Department</a>&nbsp;
        <a href="EmployeeList" >Employee</a>&nbsp;
      </div>
    </div>
</section>-->





<!--<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Angular CRUD</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"> <a href="Home" style="color:black">Home</a></li>
      <li><a href="CourseList" style="color:black">Courses</a></li>
      <li><a href="DepartmentList" style="color:black">Department</a></li>
      <li> <a href="EmployeeList" style="color:black">Employee</a></li>
    </ul>
  </div>
</nav>-->









<router-outlet></router-outlet>
