<p>
  course-add-edit works!
</p>










<div class="col-lg-3 col-md-4 no-left-padding">
  <mat-form-field>
    <mat-label>First Name *</mat-label>
    <input style="width:250px; height:50px;" matInput placeholder="Enter FIRST Name" [(ngModel)]="Employee.firstName">
  </mat-form-field>
</div>


<div class="col-lg-3 col-md-4 no-left-padding">
  <mat-form-field>
    <mat-label>Last Name *</mat-label>
    <input style="width:250px; height:50px;" matInput placeholder="Enter Last Name" [(ngModel)]="Employee.lastName">
  </mat-form-field>
</div>



<div class="col-lg-3 col-md-4 no-left-padding">
  <mat-form-field style="height: 5em;">
    <mat-label></mat-label>
    <mat-select style="width:150px; height:50px;" placeholder="Select your Course " [(ngModel)]="Employee.courseId">
      <mat-option *ngFor="let course of Course" [value]="course.id">
        {{course.name}}<!--{{dpt.id}}{{dpt.description}}-->
      </mat-option>
    </mat-select>
    <!--alert({{Course.departmentId}});-->
  </mat-form-field>
</div>






<div class="row tfr-submit-botton-group">
  <div class="">
    <button [routerLink]="('/EmployeeList')" type="button" class="btn tfr-back-button">
      <i class="fa fa-arrow-left"></i> Back
    </button>
  </div>

  <div class="">
    <button type="button" class="btn tfr-submit-button" (click)="saveChanges()">
      <i class="fa fa-save"></i>Save
    </button>
  </div>
</div>

